{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">

{% endblock styles %}

{% block content %}

<div class="container">
    <form method="POST", action="{{ url_for('message.post_message') }}">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.name.label(class_="fs-5") }}
        {{ form.name(class_="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.body.label(class_="fs-5") }}
        {{ form.body(class_="form-control form-control-lg") }}
      </div>
      <div class="mb-3">
        {{ form.submit(class_="btn btn-secondary mt-2 mb-2") }}
      </div>
    </form>

  <h3>{{ page.total }} Messages</h3>
  <ul class="list-group">
    {% for message in page.items %}
      <li class="list-group-item">
        <div class="container pt-4 pb-1">
          <h5 class="d-inline text-yellow">{{ message.name }}</h5> 
          <p class="d-inline">#{{ message.id }}</p>
          <p class="d-inline float-end">{{ get_timedelta_string(message) }} ago</p>
          <p class="fs-5">{{ message.body }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
    
  {{ macros.render_pagination(page, 'main.index') }}


</div>

{% endblock content%}

{% block scripts %}
{{ super() }}
{% endblock scripts%}