{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="POST", action="{{ url_for('message.post_message') }}">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.name.label }}
        {{ form.name(class_="form-control") }}
      <div class="mb-3"></div>
        {{ form.body.label }}
        {{ form.body(class_="form-control") }}
      <div class="mb-3"></div>
        {{ form.submit(class_="btn btn-primary") }}
      </div>
    </form>

  <h3>{{ messages|length }} Messages</h3>
  
  <ul class="list-group">
    {% for message in messages %}
      <li class="list-group-item">
        <div class="container">
          <h5 class="d-inline">{{ message.name }}</h5> 
          <p class="d-inline">#{{ message.id }}</p>
          <p class="d-inline float-end">{{ get_timedelta_string(message) }} ago</p>
          <p>{{ message.body }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}