{% macro render_pagination(pagination, endpoint) %}
  <p class="mt-2 mb-1 container">
    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
  </p>
  <nav>
    <ul class="pagination pagination-sm container justify-content-center d-xs-flex d-sm-flex d-md-none">
        <li class="page-item">
            <a class="page-link {% if not pagination.has_prev %}disabled{% endif %}" href="{{ url_for(endpoint, page=pagination.prev_num) }}">«</a>
        </li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item active">
                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            </li>
            {% endif %}
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">…</a>
            </li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            <a class="page-link {% if not pagination.has_next %}disabled{% endif %}" href="{{ url_for(endpoint, page=pagination.next_num) }}">»</a>
        </li>
    </ul>
    <ul class="pagination container justify-content-center d-none d-md-flex d-lg-flex">
        <li class="page-item">
            <a class="page-link {% if not pagination.has_prev %}disabled{% endif %}" href="{{ url_for(endpoint, page=pagination.prev_num) }}">«</a>
        </li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item active">
                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            </li>
            {% endif %}
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">…</a>
            </li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            <a class="page-link {% if not pagination.has_next %}disabled{% endif %}" href="{{ url_for(endpoint, page=pagination.next_num) }}">»</a>
        </li>
    </ul>
  </nav>
{% endmacro %}