name: CI/CD

# Controls when the workflow will run
on:
  # Activates the workflow; then there is a push to the main or master branch
  push:
    branches: [main, master]

  # allows you to manually execute this pipeline from the Actions tab.
  workflow_dispatch:

# A workflow run consists of one or more jobs that can be executed either sequentially or concurrently.
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    #
    steps:
      - uses: actions/checkout@v6.0.1 
      - uses: actions/setup-python@v6.1.0
      - run: pip install -r requirements.txt  # install requirements to enable GitHub run tests
      - run:  python -m unittest discover -s tests

      - uses: akhileshns/heroku-deploy@v3.14.15 #
        with:
          heroku_api_key: $ {{ secrets.SECRET_KEY }}
          heroku_app_name: hive-app
          heroku_email: evanc2022@gmail.com