name: CI/CD

# Controls when the workflow will run
on:
  # Activates the workflow; then there is a push to the main or master branch
  push:
    branches: [main, master]

  # allows you to manually execute this pipeline from the Actions tab.
  workflow_dispatch:

# A workflow run consists of one or more jobs that can be executed either sequentially or concurrently.
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1 
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python -m unittest

      - uses: astral-sh/ruff-action@v3
        with:
          src: "."

      - name: Build Docker image
        run: docker build -t thehive:ci .
      
      - name: Export image to artifact
        run: docker save thehive:ci -o thehive-image.tar
      
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: thehive-image
          path: thehive-image.tar